.navbar{
    margin: 0 auto 0;
    padding-top: 0px;
    border-radius:0;
}


body {
    text-decoration: none;
    margin: 0 auto 0;
    padding: 0;
    background: antiquewhite url("images/neutralbeige.jpg");
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    /*
    font-family: 'Varela Round', sans-serif;
    */
}



