{%  extends 'ecommerce_site/base.html' %}

{% load static %}

 {% block title %}Main ☁ {% endblock %}

{% block body %}

    <div class="row introduction">
        <div class="col-lg-9">
            <h1>Scroll Down for Business Insights</h1>
            <h3>{{ i.length }}</h3>
            {%  for i in results %}
                <h1>{{ i }}</h1>
            {% endfor %}
        </div>
        <div class="col-lg-1">
            <h3>Download Report in CSV Format</h3>
            <a href={% url 'generate_report' %} download="report.csv"><br><br><img src="/static/ecommerce_site/images/download.png" width="50"></a>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br><br><br>

    <div class="row insight_titles">
        <div class="col-lg-12">
            <h3>Top 5 Sales Employees based on Customer Rating</h3>
        </div>
    </div>
    <div class="row insights">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <canvas id="horizontalBar" ></canvas>
        </div>
        <div class="col-lg-1"></div>
    </div>
        <br><br><br>

        <div class="row insight_titles">
        <div class="col-lg-12">
            <h3>Top 5 Sales Employees based on Revenue Generated</h3>
        </div>
    </div>
    <div class="row insights">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <canvas id="horizontalBar2" ></canvas>
        </div>
        <div class="col-lg-1"></div>
    </div>
            <br><br><br>

    <div class="row insight_titles">
        <div class="col-lg-12">
            <h3>Monthly Revenue</h3>
        </div>
    </div>
    <div class="row insights">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <canvas id="lineChart"></canvas>
        </div>
        <div class="col-lg-1"></div>
    </div>
        <br><br><br>



    {% endblock %}

    <!--
    attributions:
     Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

    -->
