{%  extends 'ecommerce_site/base.html' %}

{% load static %}

 {% block title %} Shippers ☁ {% endblock %}


{% block body %}


    <!-- crud -->

<div class="row create_new">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_shipper' %}">Create New Shipper</a>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>


     <div class="row spacing">
        <div class="col-lg-12 scroll" id="shipper">
            <div class="card card-body">
                <table class="table table-hover">
                <h1 class="tableh"> Shippers </h1>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                </tr>
                {% for i in shippers %}
                    <tr>
                        <td>{{ i.shipper_name}}</td>
                        <td>{{ i.phone }}</td>
                        <td><a href="{% url 'update_shipper' i.id %}">UPDATE</a></td>
                        <td><a href="{% url 'delete_shipper' i.id %}">DELETE</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

<!--
attributions:
 Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

-->
