body {
    text-decoration: none;
    margin: 0 auto 0;
    padding: 0;
    background: #343234;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #f7ba5b;
}

.tableh {
    color: #78af9f!important;
}


.introduction {
    padding-top: 15%;
    padding-bottom: 20%;
    text-align: center;
}

.nav {
    padding: 3rem;
}

.navbar a {
    color: #78af9f!important;

}

.navbar{
    margin: 0 auto 0;
    padding-top: 0px;
    border-radius:0;
    background-color: #584b4f;

}


.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #78af9f;
}

.navbar-right {
    color: #78af9f!important;
}
.logout_link, .logout_link a {
    color: #f7ba5b!important;
}



.scroll {
    max-height: 800px;
    overflow-y: auto;
}

.col-lg-4 {
    text-align: center;
}

.buttonlinks {
    padding-top: 100px!important;
}

.table {
    border:solid 4px #78af9f;
}
.spacing {
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

